body {
  margin: 0;
  padding: 0;
  background-image: url("./images/fondo.jpg");
  background-size: 100%;
  background-position: center;
}

.navbar {
  background-color: #325d79;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-nav {
  list-style-type: none;
  padding: 0;
  display: flex;
}

.nav-item {
  margin-right: 50px;
  position: relative;
}

.nav-link {
  text-decoration: none;
  color: #efeeee;
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
  position: relative;
}

.nav-link:hover {
  color: #f9a26c;
}

.nav-item::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #9bd7d1;
  transition: width 0.3s ease;
}

.nav-item:hover::after {
  width: 100%;
  left: 0;
}

.home-link {
  text-decoration: none;
}

.titulo-exportadora {
  font-family: "Rubik", sans-serif;
  font-size: xx-large;
  color: #efeeee;
  padding-left: 20%;
}
